{% extends 'base.html' %}

{% block title %}Gallery{% endblock title %}

{% block body %}

<style>
  .image-thumbnail {
    height : 200px;
    object-fit: cover;
  }
</style>

<div class="container my-5">
  <div class="row">
    <div class="col-md-3">
      
      <!-- Navigation sidebar -->
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="{% url 'gallery' %}">All</a>
          </li>
          {% for category in categories %}
            <li class="list-group-item">
              <a href="{% url 'gallery' %}?category={{category.name}}">
                {{category.name}}
              </a>
            </li>
          {% endfor %}
        </ul>
        <a href="{% url 'add' %}" class="btn btn-outline-dark btn-sm">Add Photo</a>
      </div>

    </div>
    <div class="col-md-9">
      <div class="container">
        <div class="row row-cols-9">
          
          {% for photo in photos %}
          
          <div class="card col-md-3 m-2">
            <img src="{{photo.image.url}}" class="image-thumbnail" alt="...">
            <div class="card-body">
              <p class="card-text">Category: {{photo.category.name}}</p>
            </div>
            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm mb-2">view</a>
          </div>
          
          {% empty %}
          <h3>No photos found...<h3>
            {% endfor %}

          </div>
        </div>
  </div>
  </div>
</div>

{% endblock body %} 